* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border:1px solid red; */
}
*::-webkit-scrollbar {
  display: none;
}
.button{
    word-break: keep-all;
}
.pop{
    width:100vw;
    height:100vh;
    overflow-y: scroll;
    position: absolute;
    z-index: 30;
    background-color: white;
    display: none;
}
.close{
    padding:10px;
    background-color: #00adb5;
    color:white;
}
.button:hover {
  cursor: pointer;
  background-color: rgba(145, 144, 144, 0.4);
}
#spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #ff3333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: block;
    position: absolute;
    z-index:30;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .nav_main1{
  width: 100%;
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
  color:#fa69ad;
  }
  .shop_title{
    padding:30px;
    font-size:30px;
    font-weight: 800;
  }
  #nav_main_flex{
    flex-grow:1;
  }
  .nav_btn{
    padding:20px;
    font-size:20px;
    font-weight: 800;
  }
  .nav_btn{
    position: relative;
  }
  .nav_main_list{
    position: absolute;
    width:100px;
    top: 105%;
    left:50%;
    transform: translateX(-50%);
    display: none;
  }
  .nav_main_list>div{
    padding:9px;
    color:black;
    text-align: center;
    color:#393e46;
    background-color: white;
    box-shadow: 4px 2px 4px 2px rgba(145, 144, 144, 0.4);
    font-size:14px;
  }
  @media (max-width: 600px) {
    .nav_main1{
      display: none;
    }
    .nav_main2{
      display: flex;
    }
  }
  
  /* ___________________________________________ */
.top {
  background-color: #c9c9c9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
.top > div {
  font-size: 13px;
  padding: 8px;
}
.title {
  margin: auto;
  width: fit-content;
  margin-top: 10px;
  font-size: 50px;
  font-weight: 800;
}
.head {
  width: 90%;
  max-width: 800px;
  margin: auto;
  display: flex;
  margin-top: 20px;
  position: relative;
}
#menu {
    padding: 10px;
    background-color: #00adb5;
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 0;
    transition: box-shadow 0.3s ease;
  }
  
  #menu::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  
  #menu:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  #menu:hover::before {
    opacity: 1;
  }


#search {
  flex-grow: 1;
  display: flex;
}
#search > input {
  width: 85%;
  padding-left: 10px;
  font-size: 17px;
}
#search > button {
  width: 15%;
  cursor: pointer;
  background-color: #393e46;
  color: white;
  text-align: center;
}
#search > button > span {
  font-size: 30px;
  border-style: none;
}
.suggest {
  width: 90%;
  max-width: 800px;
  margin: auto;
  display: flex;
  margin-top: 20px;
  border-radius: 30px;
  height: fit-content;
  box-shadow: 2px 4px 2px 4px rgba(200, 200, 200, 0.4);
}
.suggest_text {
  padding: 5px;
  background-color: #eeeeee;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.suggest_box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.suggest_box > div {
  margin-left: 10px;
  color: rgb(101, 111, 252);
}
#menu_list{
    position: absolute;
    top:100%;
    width:inherit;
    z-index:10;
    background-color: white;
    box-shadow: 2px 4px 2px 4px rgba(200, 200, 200, 0.4);
    display: flex;
    display: none;
}
#menu_list_nav{
    width:25%;
  }
  #menu_list_nav>div{
    text-align: center;
    font-size:14px;
    background-color:#eeeeee;
    padding:3px;
    padding-top:5px;
    padding-bottom:5px;
  }
  #menu_list_nav>div:hover{
    background-color: #5a5a5a;
    color:white;
  }
  #menu_list_items{
    width:75%;
    position: relative;

  }
  #menu_list_items>div{
    display: flex;
    display: none;
    width:100%;
    height:100%;
    flex-flow:row nowrap;
  }
  #menu_list_items>div:nth-child(1){
    display: flex;
  }
  #product_search{
    display: flex;
    flex-flow:row nowrap;
  }
  .product_search_flex{
    width:50%;
  }
  .product_search_flex>div{
    padding:3px;
    background-color: #eeeeee;
    height:25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product_search_flex>div:hover{
    background-color: #393e46;
    color:white;
  }
  .product_search_flexs{
    width:50%;
  }
  .product_search_flexs>div{
    height:100%;
    display: none;
    background-position: center;
    background-size: cover;

  }
  .product_search_toggle{
    color:white;
    background-color: rgba(200, 200, 200, 0.4);
    backdrop-filter: blur(5px);
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    height:100%;
    display: none;
  }
  .product_search_toggle>div:nth-child(1){
    font-size: 20px;
    margin:5px;
    font-weight: 800;
  }

  .product_search_flexs>div:nth-child(1){
    background-image:url("img/m1.jpg");
  }
  .product_search_flexs>div:nth-child(2){
    background-image:url("img/m2.png");
  }
  .product_search_flexs>div:nth-child(3){
    background-image:url("img/m3.jpg");
  }
  .product_search_flexs>div:nth-child(4){
    background-image:url("img/m4.jpg");
  }



@media (max-width: 500px) {
  .head {
    margin-top: 10px;
    width: 100%;
  }
  .suggest {
    margin-top: 10px;
    width: 100%;
  }
  .button{
    font-size:12px;
  }
}

/* _____________________________________________________________________________________ */
.banner {
  position: relative;
  height: 200px; /* 배너의 높이 설정 */
  overflow: hidden;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}
@media (max-width: 700px) {
  .banner {
    width: 100%;
  }
}

.banner div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
  background-size: cover;
  background-position: center;
}

.banner div.active {
  opacity: 1;
}
.banner>div:nth-child(1){
    background-image:url("../img/m1.jpg");
}
.banner>div:nth-child(2){
    background-image:url("../img/m2.png");
}
.banner>div:nth-child(3){
    background-image:url("../img/m3.jpg");
}
/* ______________________________________________________________________________________ */

.product_info_top{
    margin:auto;
    margin-top:30px;
    width:85%;
    display: flex;
    flex-flow:row wrap;
    height:fit-content;
}
.product_info_top>div{
    width:50%;
    margin:auto;
}
.product_info_top_left{
  position: relative;
  overflow: visible;
}
.product_banner_img{
  background-size: cover;
  background-position: center;
  height: 100%;
}
.product_info_top_left>.product_banner_img:not(:first-child){
  display: none;
}
.product_info_top_left_nav{
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width:90%;
  top:80%;
  left:50%;
  transform: translateX(-50%);
  background-color: rgba(200, 200, 200, 0.4);
  padding:10px;
  overflow: hidden;
}
.product_info_top_left_nav_in{
  background-color: #ffffff;
  padding:5px;
  margin-left:2px;
  margin-right:2px;
  transition: padding 0.3s ease;
}
.product_info_top_left_nav_in:hover{
  padding:10px;
}
@media (max-width: 600px) {
  .product_info_top{
    margin-top:0px;
    width:100%;
}
.product_info_top>div{
  width:100%;
}
}
/* ______________________________ */
.product_info_top_right{
  padding:10px;
}
#brand{
  font-size:25px;
  font-weight: 800;
  margin-bottom:5px;
}
#name{
  font-size:20px;
  font-weight: 800;
  margin-bottom:5px;
}
#review{
  font-size:15px;
  color:blue;
  margin-bottom:5px;
  border-bottom:1px solid black;
}
.far{
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: flex-start;

}
.far>div{
  margin-left:5px;
  font-weight: 800;
}
.price{
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
}
#price_main{
  font-size:25px;
  color:red;
  font-weight: 600;
  margin-right:10px;
}
#del_type{
  font-size:18px;
  font-weight: 800;
}
.radio_flex{
  display: flex;
  flex-flow:row nowrap;
  margin-top:10px;
  font-weight: 800;
  align-items: center;
}
.radio_flex>input{
  margin-right:4px;
}
.radio_info1{
  margin-right:4px;
  color:rgb(16, 165, 16);
}
.radio_info2{
  color:gray;
  font-size:14px;
}
.point{
  color:#000000;
  display: flex;
  flex-flow:row nowrap;
  margin-top:10px;
  font-weight: 800;
}
.point>span{
  margin-right:5px;
  color:yellowgreen;
}
.product_form{
  display: flex;
  flex-flow:row nowrap;
  margin-top:10px;
  align-items: center;
  justify-content: flex-start;
}
.product_form>input{
  width:50px;
  padding:4px 8px 4px 8px;
  margin-right:8px;
}
#jang{
  border:1px solid #00adb5;
  color: #00adb5;
  font-weight: 800;
  margin-right:8px;
  width:120px;
  height:35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#buy_now{
  padding:4px;
  background-color:#00adb5;
  color:white;
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  width:120px;
  height:35px;
}
@media (max-width: 700px) {
  .product_form>div{
    font-size:15px;
    white-space: nowrap;
}
}
/* ______________________________________________________ */
