* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border:1px solid red;
}
*::-webkit-scrollbar {
  display: none;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}
.pop{
  width:100vw;
  height:100vh;
  background-color: white;
  position: fixed;
  z-index:30;
  overflow: scroll;
}
.close{
  width:100%;
  background-color: #4c5a77;
  color:white;
  padding:10px;
}
.button{
  cursor: pointer;
}
.bottom{
  height:4000px;
}
@media (max-width: 500px) {
  .button{
    font-size:14px;
  }
}
#registration,#home,#blog,#qna{
  display: none;
}
.nav1{
  position: fixed;
  width:100%;
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding:14px;
  background-color: #212A3E;
  color:white;
  top:0;
  z-index:10;
}
.nav1_title{
  font-size:25px;
}
.nav1_flex1{
  flex-grow:3;
}
.nav1_flex2{
  flex-grow:0.3;
}
.nav1_button{
  margin-left:30px;
  border-bottom: 0;
  transition: border-bottom 0.3s ease;
}
.nav1_button:hover {
  border-bottom: 5px solid #F1F6F9; 
}
#nav1_login_button, #nav1_logout_button{
  background-color: #F1F6F9;
  color: black;
  padding:3px 5px 3px 5px;
  border-radius: 3px;
}
.nav2{
  position: fixed;
  bottom:0;
  display: flex;
  flex-flow:row nowrap;
  background-color: #212A3E;
  color:white;
  width:100%;
  justify-content: space-evenly;
  padding:10px;
  z-index:10;
}
.nav2_top{
  position: fixed;
  top:0;
  display: flex;
  flex-flow:row nowrap;
  background-color: #212A3E;
  color:white;
  width:100%;
  justify-content: space-evenly;
  padding:10px;
  z-index: 10;
}
.nav2_title{
  font-size:20px;
}
.nav2_flex1{
  flex-grow: 3;
}
.nav2_flex2{
  flex-grow: 0.1;
}
#nav2_login_button, #nav2_logout_button{
  background-color: #F1F6F9;
  color: black;
  padding:3px 5px 3px 5px;
  border-radius: 3px;
}
/* _________________________________________________________________ */
#product_info{
  display: none;
}
/* _________________________________________________________________ */
.banner{
  background-image: url("/static/img/black-1072366.jpg");
  background-position: center;
  background-size: cover;
  width:100%;
  height:500px;
  display: flex;
  flex-flow:column nowrap;
  align-items: center;
  justify-content: center;
}
.banner_text1{

  color:white;
  font-size:10vw;
}
.banner_text2{
  color:white;
  font-size:40px;
  font-size:5vw;
}
.banner_btn{
  margin-top:30px;
  width:120px;
  color:white;
  background-color: #1b2333;
  padding:10px;
  font-size:16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow:row nowrap;
  cursor: pointer;
}
@media (min-width: 700px) {
  .banner_text1{
    font-size:4vw;
  }
  .banner_text2{
    font-size:3vw;
  }
}
/* _______________________________________ */
#product{
  width:100%;
  padding:10px;
  margin-top:80px;
}
#search_form{
  display: flex;
  flex-flow:row nowrap;
  margin:auto;
  align-items: center;
  justify-content: center;
}
#search_form>input{
  width:50%;
  padding:4px;
}
#search_form>button{
  padding:4px;
  border-style: none;
  background-color: #212A3E;
  color:white;
  margin-left:10px;
}
#sort{
  border-bottom:3px solid #212A3E;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top:20px;
  padding:10px;
}
#sort>span{
  margin-right:10px;
}
#product_type_selecter{
  display: flex;
  flex-flow:row nowrap;
  margin-right:10px;
  border:1px solid #212A3E;
  position: relative;
}
#product_type_selecter_in{
  position: absolute;
  width:100%;
  font-size:13px;
  top:100%;
  background-color: white;
  box-shadow: 3px 3px 3px 3px #212A3E;
  display: none;
}
#product_sort_selecter_in{
  position: absolute;
  width:100%;
  font-size:13px;
  top:100%;
  background-color: white;
  box-shadow: 3px 3px 3px 3px #212A3E;
  display: none;
}
#product_type_selecter_in>div:hover{
  background-color: rgba(180,180,180,0.3);
  cursor: pointer;
}
#product_sort_selecter_in>div:hover{
  background-color: rgba(180,180,180,0.3);
  cursor: pointer;
}
#product_con{
  display: flex;
  flex-flow:column nowrap;
}
.product_box{
  padding:8px;
  margin-top:10px;
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 700px;
  margin:auto;
  margin-top:20px;
  box-shadow: 5px 2px 5px 2px  rgba(180,180,180,0.3);
  width:100%;
  max-width:700px;
}
.product_img{
  width:80px;
  height:80px;
  border:1px solid black;
}
.product_name{
  font-weight: 800;
}
.product_price{
  color:green;
  font-weight: 500;
}
.product_date{
  color:gray;
}
.product_btn_flex{
  display: flex;
  flex-flow:row nowrap;
}
.product_btn_flex>div{
  padding:3px;
  font-size:14px;
}
.product_btn_flex>div:nth-child(1){
  background-color: #4c5a77;
  color:white;
  margin-right:10px;
}
.product_btn_flex>div:nth-child(2){
  background-color: #1b2333;
  color:white;
}
@media (max-width: 500px) {
  .product_box{
    font-size:14px;
  }
}
/* ____________________________________________________________ */
.product_info1{
  display: flex;
  flex-flow:row wrap;
  margin:30px;
}
.product_left{
  width:50%;
  position: relative;
}
.product_left>div{
  position: absolute;
  width:100%;
  height:100%;
  display: none;
}
.product_left1{
  width:50%;
  position: relative;
}
.product_left1>div{
  position: absolute;
  width:100%;
  height:100%;
  display: none;
}
.product_right{
  width:50%;
  overflow-y: scroll;
}
.product_right>div{
  margin:10px;
}

@media (max-width: 700px) {
  .product_left,.product_right,.product_left1{
    width:100%;
  }
  .product_info1{
    margin:0px;
  }
}
.product_info1_brand{
  font-size:13px;
  font-weight: 100;
}
.product_info1_name{
  font-size:25px;
  font-weight: 800;
}
.product_info1_price{
  color:red;
  font-weight: 800;
}
.product_info1_review{
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
}
.product_info1_star>span{
  color:rgb(230, 230, 0);
  font-size:15px;
}
.product_info1_review_count{
  font-size:13px;
  margin-left:10px;
}
.product_info1_del{
  display: flex;
  flex-flow:row nowrap;
}
.product_info1_del>span{
  color:blue;
  margin-right:10px;
}
.product_info1_date{
  font-size:14px;
  color:blue;
}
.product_info1_point{
  display: flex;
  flex-flow:row nowrap;
}
.product_info1_point>span{
  color:green;
  margin-right:10px;
}
.product_info1_point>div{
  margin-right:8px;
  font-size:14px;
}
.product_info1_form1{
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
}
.product_info1_form_num{
  width:80px;
  height:30px;
  padding-left:3px;
  font-size:16px;
  margin-right:5px;
}
.product_info1_form_select{
  width:fit-content;
  height:30px;
  padding-left:3px;
  font-size:16px;
  margin-right:5px;
}
.product_info1_form_button1{
  padding:4px;
  border:2px solid #4c5a77;
  font-weight: 800;
  margin-right:10px;
}
.product_info1_form_button2{
  padding:4px;
color:white;
  font-weight: 800;
  background-color: #212A3E;
}

.product_info1_img_select{
  display: flex;
  flex-flow:row wrap;
  align-items: center;
  justify-content: space-evenly;
}
.product_info1_img_select>div{
  width:70px;
  height:70px;
  margin:10px;
  background-color: #4c5a77;
  background-position: center;
  background-size: cover;
}


.product_info_nav{
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: space-evenly;
  border-top:2px solid #212A3E;
  padding-top:7px;
  width:90%;
  margin:auto;
  max-width: 800px;
}
.product_info_nav>div{
  padding:10px;
  background-color: #4c5a77;
  color:white;
  flex-grow:1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_info_nav>div:hover{
  background-color: white;
  cursor: pointer;
  color:#212A3E;
}
.product_info_box{
  display: flex;
  flex-flow:column nowrap;
  padding-top:50px;
  width:90%;
  margin:auto;
}
.product_info_box>div:not(:first-child){
  display: none;
}
.prduct_detail_table{
  display: flex;
  flex-flow:column nowrap;
}
.prduct_detail_top{
  background-color: #212A3E;
  color:white;
  padding:10px;
  font-size:25px;
}
.prduct_detail_table>div{
  border:1px solid #212A3E;
  display: flex;
  flex-flow:row nowrap;
}
.prduct_detail_table>div>div:nth-child(1){
  width:50%;
  padding:4px;
  font-weight: 800;
  background-color: rgba(180,180,180,0.3);
}
.prduct_detail_table>div>div:nth-child(2){
  width:50%;
  padding:4px;
  font-weight: 100;
}
.exp_text_auto_l{
  text-align: center;
  font-size: 3vw;
}
.exp_text_auto_m{
  text-align: center;
  font-size: 2.5vw;
}
.exp_text_auto_s{
  text-align: center;
  font-size: 2vw;
}
.exp_text_static_l{
  text-align: center;
  font-size:40px;
}
.exp_text_static_m{
  text-align: center;
  font-size:30px;
}
.exp_text_static_s{
  text-align: center;
  font-size:20px;
}
.exp_text_static_ss{
  text-align: center;
  font-size:15px;
}
.exp_text_box1{
  padding:10px;
}
.exp_text_box2{
  padding:10px;
  text-align: center;
}
.exp_padding_l{
  margin:auto;
  margin-top:100px;
  color:red;
}
.exp_padding_m{
  margin:auto;
  margin-top:50px;
  color:red;
}
.exp_padding_s{
  margin:auto;
  margin-top:10px;
  color:red;
}
.exp_img_auto_l{
  display: flex;
  flex-flow:row wrap;
  height:fit-content;
  align-items: center;
  justify-content: space-evenly;
}
.exp_img_auto_l>div{
  flex-grow:1;
  min-width: 400px;
  background-position: center;
  background-size: cover;
  background-color: #4c5a77;
}
.exp_img_auto_m{
  display: flex;
  flex-flow:row wrap;
  height:fit-content;
  align-items: center;
  justify-content: space-evenly;
}
.exp_img_auto_m>div{
  flex-grow:1;
  min-width: 300px;
  background-position: center;
  background-size: cover;
  background-color: #4c5a77;
}
.exp_img_auto_s{
  display: flex;
  flex-flow:row wrap;
  height:fit-content;
  align-items: center;
  justify-content: space-evenly;
}
.exp_img_auto_s>div{
  flex-grow:1;
  min-width: 200px;
  background-position: center;
  background-size: cover;
  background-color: #4c5a77;
}
.exp_img_static_one_rectangle_l{
  width:80%;
  background-position: center;
  background-size: cover;
  margin:auto;
  background-color: #4c5a77;
}
.exp_img_static_one_rectangle_m{
  width:50%;
  background-position: center;
  background-size: cover;
  margin:auto;
  background-color: #4c5a77;
}
.exp_img_static_one_rectangle_s{
  width:30%;
  background-position: center;
  background-size: cover;
  margin:auto;
  background-color: #4c5a77;
}
.product_review_flex{
  display: flex;
  flex-flow:row nowrap;
  padding:10px;
  border-bottom:3px solid #212A3E;
  justify-content: flex-end;
}
.product_review_box{
  position: relative;
}
.product_review_box_one{
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
  padding:8px;
  max-width:700px;
  margin:auto;
  margin-top:30px;
  border-bottom:1px solid #4c5a77;
  height:fit-content;
  position: relative;
  background-color: rgba(180,180,180,0.1);
}
.product_review_box_one>div{
  margin-right:15px;
}
.product_review_box_grow{
  flex-grow:1;
}
.prduct_review_profile{
  width:30px;
  height:30px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-color: gray;
}
.prduct_review_id{
  font-weight: 800;
  font-size:13px;
}
.prduct_review_star>span{
  font-size:13px;
  color:rgb(223, 223, 29);
}
.prduct_review_date{
  font-weight: 100;
  color:gray;
  font-size:13px;
}

.product_review_box_one_detial{
  z-index:1;
  position: absolute;
  top:100%;
  left:0%;
  width:100%;
  padding:10px;
  background-color: white;
  display: none;
}
.product_review_box_one_detial_title{
  font-weight: 800;
  font-size:17px;
}
.product_review_box_one_detial_option{
  font-size: 13px;
  font-weight: 100;
  color:gray;
  margin-bottom:10px;
}
.product_review_box_one_detial_content{
  font-size:13px;
}
.inquiry_title{
  text-align: center;
  font-size:40px;
  font-weight: 800;
}
.inquiry_one{
  margin-top:20px;
  background-color:rgba(180,180,180,0.1);
}
.inquiry_one>div>div, .inquiry_one>div{
  padding:3px;
}
.inquiry_one_q{
  display: flex;
  flex-flow:row nowrap;
}
.inquiry_one_q>div:nth-child(1){
  color:red;
  font-weight: 800;
  margin-right:10px;
}
.inquiry_one_q>div:nth-child(2){
  font-weight: 100;
  font-size:14px;
}
.inquiry_one_a{
  display: flex;
  flex-flow:row nowrap;
}
.inquiry_one_a>div:nth-child(1){
  color:blue;
  font-weight: 800;
  margin-right:10px;
}
.inquiry_one_a>div:nth-child(2){
  font-weight: 100;
  font-size:14px;
}
.inquiry_one_user_info_flex{
  display: flex;
  flex-flow:row nowrap;
}
.inquiry_one_user_info_flex>div:nth-child(1){
  font-weight: 800;
  margin-right:10px;
}
.inquiry_one_user_info_flex>div:nth-child(2){
  font-weight: 100;
  font-size:13px;
  margin-right:20px;
}
.inquiry_one_user_info_flex>div:nth-child(3){
  font-weight: 100;
  font-size:13px;
}
.other_box_one>div{
  border-top:1px solid #212A3E;
}
.other_box_one{
  border-bottom:1px solid #212A3E;
  display: flex;
  flex-flow:row nowrap;
  max-width: 500px;
  margin:auto;
}
.other_box_one>div:nth-child(1){
  padding:10px;
  font-size:14px;
  font-weight: 800;
  background-color:rgba(180,180,180,0.3);
  width:30%;
  text-align: center;
}
.other_box_one>div:nth-child(2){
  width:70%;
  padding:10px;
  font-size:14px;
  font-weight: 100;
}

/* _______________________________________________________________________ */

#registration{
  margin-top:60px;
}
#registration_in{
  height: fit-content;
  z-index:30;
  overflow: scroll;
}